pandas>=1.4.1
setuptools>=65.6.3
numpy>=1.26.4
matplotlib>=3.9.0
seaborn>=0.13.2
tensorflow>=2.6.0
tensorflow-gpu>=2.6.0
adapt>=0.4.3
sklearn>=0.0.post1
scikit-learn>=1.0.2
opencv-python>=4.9.0.80
scikit-image>=0.21.0
mahotas>=1.4.13